.App {
  text-align: center;
}

/* Login CSS */
.login-form-container {
  max-width: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

/* Navigation Bar CSS */

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  list-style-type: none;
  margin: 0 1.5em;
}

.nav-list-item a {
  text-decoration: none;
  color: white;
}